html { overflow-y: scroll; }
body { 
  background: #585858 url('https://www.toptal.com/designers/subtlepatterns/uploads/escheresque_ste.png'); /* https://subtlepatterns.com/escheresque-dark/ */
  font-family: 'Amarante', Tahoma, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: xx-large;
  color: #fff;
}

h2 {
  text-align: center;
  padding: 20px;
}

#main-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

#top-stuff-container {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  align-content: start;
  row-gap: 35px;
}

/** Table **/
td
{
  border: 1px solid #000000;
  min-width: 40px;
}

#title-caption {
  color: #fff;
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}

#tablediv {
  background: #fff;
  max-width: 66%;
}

#tablediv .fltrow {
  background-color: aliceblue;
}

#tablediv .fltrow td {
  border-bottom: 1px solid rgb(213, 224, 233) !important;
  border-top: 1px solid #f4f4f4;
  border-left: 1px solid rgb(213, 224, 233);
  border-right: 1px solid #f4f4f4;
}

#tablediv th {
  background-color: aliceblue;
  border-bottom: 1px solid rgb(213, 224, 233) !important;
  border-top: 1px solid #f4f4f4;
  border-left: 1px solid rgb(213, 224, 233);
  border-right: 1px solid #f4f4f4;
  padding: 5px 0px;
}

#chkdiv_4_tablediv {
  width:80px;
}

#chkdiv_14_tablediv {
  width: 80px;
}

/** Top Author section **/
.top-author {
  border: none;
  background: none;
  font-family: 'Amarante', Tahoma, sans-serif;
  font-size: large;
}

.top-author:hover {
  font-size: 120%;
  transition-duration: 0.4s;
}

#author-section {
  background-color: #fff;
  max-height: 500px;
  border-radius: 5%;
  width: 95%;
}

#author-body {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 70px;
  font-size: large;
  display: grid;
  grid-template-areas: 
    "author-list count-list";
  line-height: 1.7em;
}

#author-list {
  grid-area: author-list;
  min-width: 200px;
}

.count-list {
  list-style-type: none;
  grid-area: count-list;
}

/** Genre **/
.top-genre {
  border: none;
  background: none;
  font-family: 'Amarante', Tahoma, sans-serif;
  font-size: large;
}

.top-genre:hover {
  font-size: 120%;
  transition-duration: 0.4s;
}

#genre-section {
  background-color: #fff;
  max-height: 500px;
  border-radius: 5%;
  width: 95%;
}

#genre-body {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 70px;
  font-size: large;
  display: grid;
  grid-template-areas:
    "genre-list count-list";
  line-height: 1.7em;
}

#genre-list {
  grid-area: genre-list;
  min-width: 200px;
}

.count-list {
  list-style-type: none;
  grid-area: count-list;
}

/** Buttons **/
button:hover {
  cursor: pointer;
}